#calc {
	width: 400px;
	height: 440px;
	margin: 100px 200px 200px 500px;
	background-color: #E4E5EA;
	border-radius: 0.4em;
}

h1 {
	text-align: center;
	margin: 40px 0 0 40px;
}

#screen {
	width: 350px;
	height: 70px;
	margin: 10px 0 0 20px;
	background-color: white;
}

#button {
	width: 360px;
	height: 380px;
	padding-top: 40px;
	overflow: hidden;
}

.b1 {
	width: 60px;
	height: 40px;
	margin: 20px 0 0 20px;
	float: left;
	border-radius: 20%;
	background-color: #9397A2;
	overflow: hidden;
	text-align: center;
	padding-top: 10px;
}

input[type=text] {
	width: 350px;
	height: 70px;
	background-color: transparent;
	padding-left: 10px;
	display: inline-block;
	font-size: 30px;
}